<h2><%= @image.title %></h2>
<h4><%= @image.caption %></h4>
<h5><%= @image.upload_updated_at.to_formatted_s(:long) %></h5>
<%= link_to "Edit Image", edit_user_image_path(@user, @image), class: "btn btn-default" %>
<hr>

<%= image_tag @image.upload.url %>
